<div class="card card-border bg-base-100 mx-auto">
  <div class="card-body items-center">
    <h2 class="card-title">Two-Factor Authentication</h2>
    <p>Authenticate using your passkey or security key.</p>

    <%= form_with(
      url: two_factor_authentication_path(resource_name),
      method: :post,
      class: "card-actions justify-center mt-4",
      data: {
        action: "webauthn-credentials#get:prevent",
        controller: "webauthn-credentials",
        webauthn_credentials_options_param: @options
      },
    ) do |f| %>
      <%= f.hidden_field(:public_key_credential, data: { "webauthn-credentials-target": "credentialHiddenInput" }) %>
      <%= f.button('Use security key', type: "submit", class: "btn btn-primary text-white") %>
    <% end %>
  </div>
</div>
