<div class="card card-border">
  <div class="card-body items-center gap-8">
    <h2 class="card-title">Two-Factor Authentication</h2>
    <div class="card-actions gap-4 justify-center">
      <p>Authenticate using your passkey or security key.</p>

      <%= login_with_security_key_form_for(resource_name, class: "w-full") do |form| %>
        <%= form.submit "Use security key", class: "btn btn-primary text-white w-full" %>
      <% end %>
    </div>
  </div>
</div>
