<div class="card card-border">
  <div class="card-body items-center gap-8">
    <h2 class="card-title">Two-Factor Authentication</h2>
    <div class="card-actions gap-4 justify-center">
      <p>Authenticate using your passkey or security key.</p>

      <%= login_with_security_key_button(
        'Use security key',
        resource: @resource,
        form_classes: "w-full",
        button_classes: "btn btn-primary text-white w-full"
      ) %>
    </div>
  </div>
</div>
