@import "tailwindcss";

@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs" {
  themes: cmyk --default;
}

@plugin "./daisyui-theme.mjs" {
  name: "cmyk";
  default: true;
  --color-success: green;
}
