<div class="card card-border">
  <div class="card-body items-center gap-8">
    <h2 class="card-title">Add a Security Key</h2>

    <%= security_key_creation_form_for(resource, form_classes: "card-actions gap-5") do |form| %>
      <div class="w-full space-y-3">
        <%= form.label :name, 'Security Key name', class: "block text-sm font-medium" %>
        <%= form.text_field :name, required: true, class: "input w-full outline-none" %>
      </div>

      <%= form.submit 'Create Security Key', class: "btn btn-primary text-white w-full" %>
    <% end %>
  </div>
</div>
