<div class="hero-content mx-auto text-center">
  <div class="max-w-md">
    <h1 class="text-5xl font-bold">Hello world!</h1>
    <p class="py-6">
      This is a demo of a Rails application integrating with `Devise::Webauthn` for passwordless authentication using WebAuthn.
    </p>
  </div>
</div>
