name: Deploy

concurrency:
  group: ${{ github.workflow }}

on:
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      commit:
        description: "Commit (SHA, tag, branch, etc)"
        required: true
        default: "master"

jobs:
  deploy:
    if: github.repository == 'cedarcode/devise-webauthn-demo-app'

    runs-on: ubuntu-latest

    env:
      BUNDLE_ONLY: 'deploy'

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.commit }}

      - name: Start the ssh-agent
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id    : ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region           : us-east-1

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run deploy command
        run: bundle exec kamal deploy
        env:
          RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
